[submodule "apps/admin/display-admin-client"]
	path = apps/admin/display-admin-client
	url = https://github.com/os2display/display-admin-client.git
[submodule "apps/api/display-api-service"]
	path = apps/api/display-api-service
	url = https://github.com/os2display/display-api-service.git
[submodule "apps/client/display-client"]
	path = apps/client/display-client
	url = https://github.com/os2display/display-client.git
[submodule "apps/integration/kk-display-integration"]
	path = apps/integration/kk-display-integration
	url = https://github.com/kkos2/kk-display-integration.git
