# The routes of the project.
#
# Each route describes how an incoming URL is going
# to be processed by Platform.sh.

"https://{default}/":
  type: "redirect"
  to: "https://{default}/client"

"http://{default}/":
  type: "redirect"
  to: "https://{default}/client"

# Admin
"https://{default}/admin":
  id: "admin"
  type: "upstream"
  upstream: "admin:http"

# API
"https://{default}/v1":
  id: "api"
  type: "upstream"
  upstream: "api:http"
"https://{default}/client/media":
  id: "api-media"
  type: "upstream"
  upstream: "api:http"

# Client (aka screen aka display)
"https://{default}/client":
  id: "client"
  type: "upstream"
  upstream: "client:http"
